* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}/* COMMON */
body {
    width: 100vw;
    height: 100vh;
    background-color: bisque;
}

header {
    width: 100%;
    height: 100px;
}
/* NAV  */
#logo {
    height: 100px;
}

nav {
    position:fixed;
    width:100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    padding:0 100px;
    background-color: rgb(254, 187, 62);
}

.logo {
    position: relative;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 50%;
    height:100%;
}

.logo h2 {
    position:absolute;
    top:0;
    left: 20px;
    color: red;
}

.user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:50%
}

.user i {
    padding: 0 20px;
    cursor: pointer;
}

.jumbo {
    height: 600px;
    width:80%;
    margin: 0 auto;
    background-image:url("../img/banner.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content:center;
    padding-top: 100px;
    align-items: flex-start;
    font-size: 2rem;
    color: white;
    text-align: center;
}

.jumbo h2 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(20, 15, 3);
}