* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}/* common */
body {
    width: 100vw;
    height: 200vh;
    /* background: rgb(255,255,255); */
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(180,131,7,1) 50%,rgba(255,255,255,1) 100% );
}

header {
    width: 100%;
}
/* header  */
#logo {
    height: 100px;
}

nav {
    position:fixed;
    width:100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    padding:0 100px;
    background-color: #881137;
}

.logo {
    position: relative;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 50%;
    height:100%;
}

.logo h2 {
    position:absolute;
    top:0;
    left: 20px;
    color: white;
}

.user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:50%;
    color: white;
}

.user i {
    padding: 0 20px;
    cursor: pointer;
}

.user h2 {
    cursor: pointer;
}

.jumbo {
    height: 500px;
    width:80%;
    margin: 0 auto 100px;
    background-image:url("../img/banner.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content:center;
    padding-top: 100px;
    align-items: flex-start;
    font-size: 2rem;
    color: white;
    text-align: center;
}

.jumbo h2 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(20, 15, 3);
}

form {
    width: 400px;
}
.btn {
    display:inline-block;
    width: 100px;
    height:30px;
    background-color: rgb(88, 75, 0);
    color: white;
    padding: 5px;
    text-align: center;
    margin: 20px;
    cursor: pointer;
}
/* main */

.container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card {
    margin: 30px 50px;
    height: 400px;
    padding:0 20px;
    width:calc(100% / 4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    box-shadow: 10px 10px 10px 5px black;
    background-color: white;
    font-size: .6rem;
    
}

.card div{
    height:80px;
    width: 80%;
}

.card>div h1 {
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    resize: horizontal;
}

.card>div h3 {
    padding: 10px 0;
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
    color: red;
}

.card > img {
    height: 200px;
    width: 200px;
}